footer {
    width: 100%;
    display: flex;
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% ;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: -10%;
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.5);
}

footer .foot {
    padding: 6vh 7vw;
    padding-top: 3vh;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

footer .foot .foot1 {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-top: -2%;
    align-self: center;
}

footer .foot .foot1 img {
    width: 20vw;

}

footer .cpyrght {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    background-color: #edd9c1;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
}

.foot2 {
    margin-right: 5vw;
}

.foot2 h3,
.foot3 h3 {
    color: #d5b08e;
    margin-bottom: 2vh;
    font-size: 1.35vw;
}

.foot2 ul {
    list-style-type: none;
    padding-left: 10px;
}

.foot2 li,
.foot2 li a {
    color: #e4e3d7;
    font-weight: 200;
    text-decoration: none;
    margin: 1vh 0;
    transition: 0.5s;
    font-size: 1.1vw;
}

.foot3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foot3 .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.social a {
    text-decoration: none;
    color: #e4e3d7;
    transition: 0.5s;
    font-size: 1.5vw;
}

.social h5 {
    color: #e4e3d7;
    font-size: 1.2vw;
    padding: 0;
    margin: 0;
}

.social a:hover,
.foot2 li a:hover {
    color: #d5b08e;
}
@media (max-aspect-ratio: 1/1) {
footer {
    height: 35vh;
}

footer .foot {
    padding: 2vh 1vw
}

footer .foot .foot1 {
    margin-right: 15vw;
}

footer .foot .foot1 img {
    width: 10vw;

}

.foot2 {
    margin-right: 5vw;
}

.foot2 h3,
.foot3 h3 {
    color: #d5b08e;
    margin-bottom: 2vh;
    font-size: 2vw;
}

.foot2 ul {
    list-style-type: none;
}

.foot2 li,
.foot2 li a {
    color: #e4e3d7;
    font-weight: 200;
    text-decoration: none;
    margin: 1vh 0;
    transition: 0.5s;
    font-size: 1.6vw;
}

.foot3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foot3 .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.social a {
    text-decoration: none;
    color: #e4e3d7;
    transition: 0.5s;
    font-size: 2vw;
}

footer .cpyrght {
    height: 2vh;
    background-color: #edd9c1;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 2.2vw;
}
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio:7.2/10) {

footer {
    height: 50vh;
}
}